.blog-container {
  padding: 2rem 2rem 2rem 0;
  max-width: 700px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #222;
}

.dark .blog-container {
    color: #eee;
}


