.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
